// style for the profile page
.profile-page{

    .photo-container{
        width: 200px;
        height: 200px;
    }
    
    h5.description{
        max-width: 1000px;
        margin: 20px auto 25px;
    }

}
