// Social icons color
$social-medium: #222222 !default;
$social-medium-state-color:        lighten(#222222, 6%) !default;

$social-email: #f9ba00 !default;
$social-email-state-color:       lighten(#f9ba00, 6%) !default;
